#mapDiv {
	height: 100%;
	width: 100%;
	position: absolute;
	padding-top: 50px;
	z-index: -1;
}

/* 自定义鼠标位置控件位置样式 */
#mouse-position {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: 5px;
	z-index: 2000;
}

/* 自定义鼠标位置信息样式 */
.custom-mouse-position {
	color: red;
	font-size: 16px;
	font-family: "微软雅黑";
}

#switch-div {
	position: absolute;
	right: 10px;
	top: 70px;
	z-index: 2;
}

#switch-div img {
	width: 64px;
	height: 64px;
	border: 1px solid rgb(255, 255, 255);
	border-radius: 2px;
}

#switch-div img:hover {
	border: 1px solid rgba(0, 148, 255, 0.5);
}

#tools-div {
	position: absolute;
	top: 150px;
	right: 10px;
	z-index: 2;
	width: 32px;
}

#tools-div img {
	margin-top: 10px;
	width: 32px;
	border: 1px solid rgb(255, 255, 255);
	border-radius: 2px;
	background-color: white;
}

#tools-div img:hover {
	border: 1px solid rgba(0, 148, 255, 0.5);
}

#lefttools-div {
	position: absolute;
	top: 70px;
	left: 10px;
	z-index: 1;
	width: 140px;
}

#lefttools-div img {
	margin-top: 10px;
	width: 40px;
	height: 40px;
	border: 1px solid rgb(255, 255, 255);
	border-radius: 2px;
	background-color: white;
}

#lefttools-div img:hover {
	border: 1px solid rgba(0, 148, 255, 0.5);
}

.checkbox {
	left: 20px;
}

/**
			* 提示框的样式信息
			*/
.tooltip {
	position: relative;
	background: rgba(0, 0, 0, 0.5);
	border-radius: 4px;
	color: white;
	padding: 4px 8px;
	opacity: 0.7;
	white-space: nowrap;
	z-index: 11111;
}

.tooltip-measure {
	opacity: 1;
	font-weight: bold;
	z-index: 11111;
}

.tooltip-static {
	background-color: #ffcc33;
	color: black;
	border: 1px solid white;
	z-index: 11111;
}

.tooltip-measure:before,
.tooltip-static:before {
	border-top: 6px solid rgba(0, 0, 0, 0.5);
	border-right: 6px solid transparent;
	border-left: 6px solid transparent;
	content: "";
	position: absolute;
	bottom: -6px;
	margin-left: -7px;
	left: 50%;
	z-index: 11111;
}

.tooltip-static:before {
	border-top-color: #ffcc33;
	z-index: 11111;
}
